body{
    width: 100%;
    margin:auto;
    text-align: center;
    display: flex;
    flex-direction: column;
}
div{
    border-style:double;
    border-width: 2px;
}
main p{
    padding: 2%;
}
#flex_container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 800px;
}
#flex_container .flex{
    background-color: rgb(200, 214, 209);
}
#flex_container #left{
    flex: 1 1 100px;
    background-color: rgb(190, 212, 205);
    text-align: left;
}
#flex_container #middle{
    flex: 3 3 300px;
    background-color: azure;
}
#flex_container #right{
    flex: 1 1 100px;
    background-color: rgb(190, 212, 205);
}

/*Header box*/
header{
    position: sticky;
    position: -webkit-sticky;
    top:0;
    background-color: rgb(159, 202, 187);
}
nav *{
    padding: 6px;
}
.navigation_bar{
    float:left;
}
.navigation_bar *{
    display: inline;
}
nav .logout{
    float: right;
}
/*Middle box*/
#ThreeD_model{
    visibility: hidden;
    border: 0;
}
#ThreeD_model iframe{
    width: 100%;
    height: 745px;
}
/*Left box*/
.dropdown {
  position: relative;
  display: block;
}
.dropdown_content li{
    display: block;
}

.dropdown_content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  padding: 2px;
  z-index: 1;
}

.dropdown:hover .dropdown_content {
  display: block;
}

/*Footer box*/
footer{
    height: 100px;
    background-color: rgb(159, 202, 187);
}
#signatures{
    max-height: 100px;
}