body{
    width: 100%;
    margin:auto;
    text-align: center;
    display: flex;
    flex-direction: column;
}
main p{
    text-align: left;
    padding: 2%;
}

div{
    border-style:double;
    border-width: 2px;
}
header{
    position: sticky;
    position: -webkit-sticky;
    top:0;
    background-color: rgb(159, 202, 187);
}
footer{
    height: 100px;
    background-color: rgb(159, 202, 187);
}
nav ul{
    text-align: left;
    width: 50%;
    display: flex;
    list-style: none;
}
nav ul li{
    flex: 1 1 auto;
}