/* Shift the logo to the right on the medium screen */
header{
    display: flex;
    flex-direction: column;

    /*border*/
    border-color: rgb(112, 52, 112);
    border-width: 5px;
    border-style: solid;
}
.navigation_bar{ /*ul*/
    display: flex; /* only the direct children become flex items */
    flex-wrap: wrap;
    gap: 1rem;
    flex-direction: column;

    /*border*/
    margin: 0;
    padding: 0;
    list-style: none;
    border-color: thistle;
    border-width: 5px;
    border-style: solid;
    justify-content: flex-start;
}
.navigation_bar li{
    /*border*/
    border-color: rgb(117, 77, 117);
    border-width: 5px;
    border-style: solid;

    padding-left: 2%;
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: 1;
}
header nav{
    order:2;
}
header #logo{
    order:1;
    max-height: 200px;
}

main{
    background-color: rgb(70, 70, 114);
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;

    border-color: rgb(61, 122, 124);
    border-width: 5px;
    border-style: solid;

}
main #left{
    flex-shrink: 1;
    flex-grow: 0;
    flex-basis: 0;

    border-color: rgb(117, 77, 117);
    border-width: 5px;
    border-style: solid;

}
main #right{
    border-color: rgb(182, 59, 166);
    border-width: 5px;
    border-style: solid;

}

footer{
    background-color: rgb(69, 129, 69);
    margin: 10px;
}

@media  (min-width:600px) {
    .navigation_bar{
        flex-direction: row;
    }
    .navigation_bar li{
        padding-left: 0%;
    }
    header nav{
        order:1;
    }
    header #logo{
        order:2;
        justify-content: flex-end;
        max-width: 200px;
    }
    header{
        flex-direction: row;
        gap:10px;
        justify-content: center;
    }
    header>nav{
        align-self: flex-start;
    }
  
}
@media  (min-width:900px) {
    .navigation_bar{
        flex-direction: row;
        order:1;
    }
    .navigation_bar li{
        padding-left: 0%;
    }
    header nav{
        order:2;
    }
    header #logo{
        max-width: max-content;
        order:1;
    }
    header{
        flex-direction: row;
    }
    header>nav{
        align-self: flex-end;
    }
    

}


