body{
    max-width:60%;
    margin: auto;
    /* border: 10px;
    border-color: blueviolet;
    border-style: dotted;
    animation-name: selfie_animation;
    animation-duration: 4s; */
    background-image: url("pics/letter.jpg");
    color: #3d4447;
    font-family: American Typewriter;
    padding-top: 2%;
    padding-bottom: 2%;
}
header #greeting {
    border: 5px;
    border-color: rgb(14, 6, 22);
    border-style:double;
}
header{
    display: flex;
    flex-direction: row;

    border: 5px;
    border-color: blueviolet;
    border-style: dotted;
}
header #greeting{
    flex-basis: 2;
    padding: 2%;
    height: auto;
}
header #selfie{
    flex-basis: 1;
    object-fit: cover;
    border: 5px;
    border-color: blueviolet;
    border-style: dotted;
    animation-name: selfie_animation;
    animation-duration: 4s;
}

main{
    padding: 3%;
}

@keyframes selfie_animation {
    0%   {border-color: red;}
    10%  {border-color: yellow;}
    20% {border-color: green;}
    30%  {border-color: blue;}
    40%   {border-color: red;}
    50%  {border-color: yellow;}
    60% {border-color: green;}
    70%  {border-color: blue;}
    80%   {border-color: red;}
    90%  {border-color: yellow;}
    100% {border-color: green;}
}
table{
    border-style: groove;
    border-color: chocolate;
    width: 100%;
}
.dogs{
    max-width: 30%;
    max-height: auto;
}
video{
    width: 320px;
    height: 240px;
}
table, th, td {
  border: 1px solid black;
}
td,th{
    width: 33%;
    text-align: center;
}




/*Source: https://plantpot.works/2974   EDITED TO MY OWN LIKING*/
#container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.striped-border {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #E8DCB8;
  
}
.striped-border::before {
    background-image: url("pics/letter.jpg");
    background-size: cover;
  content: '';
  position: absolute;
  top: -10px;
  right: -10px;
  bottom: -10px;
  left: -10px;
  z-index: -1;
  background: repeating-linear-gradient(-45deg, #f00 0, #f00 20px, #E8DCB8 20px, #E8DCB8 40px, #00f 40px, #00f 60px, #E8DCB8 60px, #E8DCB8 80px);
}
/*Source: https://plantpot.works/2974   EDITED TO MY OWN LIKING*/


/*Typewriter effect thanks*/